@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@font-face {
    font-family: 'Friz Quadrata';
    font-style: normal;
    font-weight: 400;
    src: url(../stylesheets/fonts/ufonts.com_friz-quadrata_tt) format('ttf');
}



body {
    font-family: 'Friz Quadrata';
    margin:0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: #c7bb00;
}

p span {
    color: #4aeec9;
}
html{
	background-color: #efefef;
}



header{
    box-sizing: border-box;
	text-align: center;
    width: 100%;
    padding: 25px 40px;
    background: #1d414d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1d414d, #10292e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1d414d, #10292e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1d414d, #10292e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1d414d, #10292e); /* Standard syntax */
    overflow: hidden;
}


header h1{
    float: left;
	font: normal 24px/1.5 'Open Sans', sans-serif;
	color: #fff;
}

header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;

}

ul {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 75px;
}

ul a{
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;

    transition: 0.2s ease;
}

ul li a.active{
    background-color: #F05283;
    pointer-events: none;
}

ul li a:hover {
    opacity: 1;
}


ul li{
    display: inline-block;
}


@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

.main-content{
    margin-bottom: 75px;
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
	text-decoration: none;
	color: #fff !important;
	font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
	color: #da431c;
}